main {
    color: #716765;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width: 90%;
    margin-top: 50px;
}


/* MAIN  */
.chartsContainer {
    display: flex;
    justify-content: space-between;
}
/* Area Chart */
.areaChart {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  


  